{% extends './account_base.html' %}

{% block title %}Reset Password{% endblock %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-4">
        <form action="{% url 'reset_password' %}" class="box" method="POST">
            {% csrf_token %}
            <div class="field">
                <h4 class="title is-5">Enter your registered email address to reset your password</h4>
                {{ form.email }}
            </div>
            <div class="field"><button type="submit" class="button is-info is-fullwidth">Reset Password</button></div>
            <hr>
            <p class="has-text-centered">
                Click here to <strong><a href="{% url 'login' %}">Login</a></strong> or <strong><a href="{% url 'register' %}">Register</a></strong>
            </p>
        </form>
    </div>
</div>

{% endblock content %}
