{% extends './account_base.html' %}

{% block content %}

    <div class="columns is-centered">
        <div class="column is-4 box">
            {% if validlink %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="field">
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            <span class="help is-danger">{{ form.new_password1.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="field">
                        {{ form.new_password2 }}
                        {% if form.new_password1.errors %}
                            <span class="help is-danger">{{ form.new_password1.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-primary is-fullwidth">Change password</button>
                    </div>
                </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset link.
            </p>
            <p>
                <a href="{% url 'reset_password' %}" class="button is-fullwidth">Request another link</a>
                <br>
                <a href="{% url 'login' %}" class="button is-fullwidth is-primary">Log in here</a>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
