<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#111">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{% endblock %}{{ site_name }} - Where quality costs less</title>
        <meta name="description" content="{% block description %}Shop the best luxury and lifestyle products at the best prices in Nigeria. Improve your health, fashion and much more with our amazing products.{% endblock %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <!-- Twitter Card data -->
        <meta name="twitter:site" content="@thelifestyleng">
        <meta name="twitter:creator" content="@thelifestyleng">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{% block image %}{% endblock %}">

        <!-- Open Graph data -->
        <meta property="og:url" content="{% block url %}{% endblock %}" />
        <meta property="og:site_name" content="TheLifestyleStore.com.ng" />
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="stylesheet" href="{% static 'js/bundle.css' %}">
    </head>
    <body class="is-fixed-navbar">
        <nav id="slide-in-navbar">
            <ul>
                <li><a href="{% url 'microstore:index' %}">Home</a></li>
                <li><a href="{% url 'microstore:all_products' %}">Products</a></li>
                {% if request.user.is_authenticated %}
                    <li class="divider"></li>
                        {% if request.user.is_superuser %}
                            <li><a href="{% url 'microstore:dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'microstore:orders' %}">Orders</a></li>
                            <li><a href="{% url 'microstore:products' %}">Products</a></li>
                        {% else %}
                            <li><a href="{% url 'microstore:my_orders' %}">My Orders</a></li>
                        {% endif %}
                    <!-- <li><a href="{% url 'microstore:profile' %}">My Profile</a></li> -->
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Create account</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'microstore:contact' %}">Contact us</a></li>
                <!-- <li><a href="#" class="button is-primary enable-notification">Enable notifications</a></li> -->
            </ul>
        </nav>
        {% include "./parts/navbar/app_base_navbar.html" %}
        <div id="site-wrapper">

            <!-- Main content area -->
            {% block content %}
            {% endblock content %}

            {% include "./parts/app/footer.html" %}
        </div>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5b63a2dbdf040c3e9e0c3df1/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123763559-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-123763559-1');
        </script>
        <script defer async src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <script type="text/javascript" src="{% static 'js/bundle.min.js' %}"></script>
    </body>
</html>
