<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#111">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{% endblock %}{{ site_name }} - Afordable lifestyle online store</title>
        <meta name="description" content="{% block description %}{% endblock %}" />

        <!-- Twitter Card data -->
        <meta name="twitter:site" content="@thelifestyleng">
        <meta name="twitter:creator" content="@thelifestyleng">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{% block image %}{% endblock %}">

        <!-- Open Graph data -->
        <meta property="og:url" content="{% block url %}{% endblock %}" />
        <meta property="og:site_name" content="TheLifestyleStore.com.ng" />

        <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1.1">
        <link rel="manifest" href="{% static 'manifest.json' %}">
    </head>
    <body>
        {% include "./parts/navbar/app_base_navbar.html" %}
        <!-- Main content area -->
        {% block content %}
        {% endblock content %}

        {% include "./parts/app/footer.html" %}
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
