<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#111">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{% endblock %}{{ site_name }} - Where quality costs less</title>
        <meta name="description" content="{% block description %}Shop the best luxury and lifestyle products at the best prices in Nigeria. Improve your health, fashion and much more with our amazing products.{% endblock %}" />
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <!-- Twitter Card data -->
        <meta name="twitter:site" content="@thelifestyleng">
        <meta name="twitter:creator" content="@thelifestyleng">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{% block image %}{% endblock %}">

        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '861534367387565');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=861534367387565&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->


        <!-- Open Graph data -->
        <meta property="og:url" content="{% block url %}{% endblock %}" />
        <meta property="og:site_name" content="TheLifestyleStore.com.ng" />
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body class="is-fixed-navbar">
        <nav id="slide-in-navbar">
            <ul>
                <li><a href="{% url 'microstore:index' %}">Home</a></li>
                <li><a href="{% url 'microstore:all_products' %}">Products</a></li>
                {% if request.user.is_authenticated %}
                    <li class="divider"></li>
                        {% if request.user.is_superuser %}
                            <li><a href="{% url 'microstore:dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'microstore:orders' %}">Orders</a></li>
                            <li><a href="{% url 'microstore:products' %}">Products</a></li>
                        {% else %}
                            <li><a href="{% url 'microstore:my_orders' %}">My Orders</a></li>
                        {% endif %}
                    <!-- <li><a href="{% url 'microstore:profile' %}">My Profile</a></li> -->
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Create account</a></li>
                {% endif %}
                <li class="divider"></li>
                <li><a href="{% url 'microstore:contact' %}">Contact us</a></li>
                <!-- <li><a href="#" class="button is-primary enable-notification">Enable notifications</a></li> -->
            </ul>
        </nav>
        {% include "./parts/navbar/app_base_navbar.html" %}
        <div id="site-wrapper">

            <!-- Main content area -->
            {% block content %}
            {% endblock content %}
            {% include "./parts/app/footer.html" %}
        </div>
        <div class="hero popup" id="newsletter-wrapper">
            <div class="hero-body">
                <div class="container">
                    <div class="box">
                        <div class="columns is-centered">
                            <div class="column is-5">
                                <figure class="image">
                                    <img src="{% static 'images/registration-back.jpg' %}" alt="">
                                </figure>
                                <h3 class="title is-3 is-size-4-mobile">You can win this item in our <span class="">Free Quarterly Giveaways.</span></h3>
                                <p>Enter your email address to have a 99.9% chance of winning.</p>
                                <form action="#" method="post" class="is-fullwidth" id="email-sub-form">
                                    {% csrf_token %}
                                    <div class="field">
                                        <div class="control is-expanded has-icons-left">
                                            <input type="email" id="newsletter-email" class="input" name="email" placeholder="Email address">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>

                                    </div>
                                    <div class="newsletter-extras">
                                        <div class="field">
                                            <input type="text" class="input" id="newsletter-fname" name="fname" placeholder="First name">
                                        </div>
                                        <div class="field">
                                            <input type="text" class="input" id="newsletter-lname" name="lname" placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button type="submit" id="newsletter-submit" class="button is-primary is-fullwidth">I want to win.</button>
                                    </div>
                                    <input type="hidden" name="u" id="newsletter-u" value="3598467e1097a2ce993ae29e7">
                                    <input type="hidden" name="id" id="newsletter-id" value="614bd9a1bb">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
          attribution=setup_tool
          page_id="647451045636714"
          theme_color="#ff7e29"
          logged_in_greeting="Welcome friend! Will you like me to assist you as you browse around out store?"
          logged_out_greeting="Welcome friend! Will you like me to assist you as you browse around out store?">
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123763559-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-123763559-1');
        </script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <!-- <script defer async src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script> -->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
