{% extends '../../app_base.html' %}

{% block title %}My Orders{% endblock title %}
{% block content %}
{% load humanize currency %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-3">My Orders</h1>
            {% include '../navbar/profile_navbar.html' %}
            {% if orders %}
                {% for order in orders %}
                    <div class="columns my-order">
                        <div class="column is-3">
                            <span class="header-title">Order Id: {{ order.id }}</span>
                            <h4 class="title is-5 is-marginless">{{ order.fullname }}</h4>
                            <p class="is-marginless">{{ order.address }}</p>
                            <p>{{ order.phone }}</p>
                            <span class="header-title" style="color:#111">{{ order.created_at|date:"D d M Y" }}</span>
                        </div>
                        <div class="column is-expanded">
                            <span class="header-title">{{ order.items.count }} Item(s)</span>
                            {% for item in order.items %}
                                <div class="media">
                                    <figure class="media-left">
                                        <div class="image is-48x48">
                                            <img src="{{ item.product.get_image }}" alt="{{ item.product.title }}">
                                        </div>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <h4 class="title is-6 is-marginless">
                                                <a href="{% url 'microstore:product' id=item.product.id slug=item.product.slug %}" style="color:#111" target="_blank">{{ item.product.title }}</a>
                                            </h4>
                                            <p>
                                                <span class="has-text-danger has-text-weight-bold is-size-7">{{ item.product.sale_price|intcomma|currency }}</span>
                                                <span class="has-text-weight-bold is-size-7">Qty: {{ item.quantity }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="column is-3">
                            <span class="header-title">Payment Status</span>
                            <div>
                                {% if order.is_paid %}
                                    <span class="button is-success is-small"><span class="icon"><i class="fas fa-check"></i></span> <span>Payment successful</span></span>
                                {% else %}
                                    <a href="{% url 'microstore:pay' order=order.uuid %}" class="button is-small is-primary">
                                        <span class="icon"><i class="fas fa-exclamation-triangle"></i></span> <span>Payment pending</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>You have not made any orders yet. <a href="{% url 'microstore:all_products' %}">Click here to start shopping</a></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
