{% extends '../app_base.html' %}

{% block content %}

<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <span class="page-title">About us</span>
                    <h1 class="title is-1 is-size-3-mobile">We are a lifestyle focused online store based in Lagos, Nigeria.</h1>
                    <p>
                        We sell products that are beautiful and affordable while improving your overall lifestyle.
                    </p>
                    <p>
                        We source for some of the most unique products on the planet for anyone looking to improve their lifestyle but on a tight budget.
                    </p>
                    <p>
                        Our products can help you improve your appearance, beautify your home and boost your overall confidence without breaking the bank.
                    </p>
                    <p>Want to work with us? <a href="mailto:hello@thelifestylestore.com.ng">send us a mail</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
