{% extends '../app_base.html' %}

{% block content %}

<div class="hero is-medium page">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <span class="page-title">Contact us</span>
                    <h1 class="title is-2">Want to get in touch with us?</h1>
                    <p>We are always excited to hear from you. Please send us a mail <a href="mailto:hello@thelifestylestore.com.ng">hello@thelifestylestore.com.ng</a> or tweet at us <a href="https://twitter.com/thelifestyleng" target="_blank" rel="noopener">@thelifestyleng</a></p>
                    <p>or call us</p>
                    <h3 class="title is-3">090 224 22022</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
