{% extends '../app_base.html' %}

{% block content %}

<div class="hero is-medium page">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <span class="page-title">Privacy Policy</span>
                    <p>Your privacy is important to us and always has been. So we've developed a Privacy Policy that covers how we collect, use, disclose, transfer, and store your information.</p>

                    <h3 class="title is-4">How your personal information is used?</h3>
                    <p>
                        User data collected help us to personalize our website according to each user wishes and preferences. Offering you the most spontaneous and friendly surfing experience is our priority. Data collected are for statistical purposes only and help us to:
                    </p>
                    <ul>
                        <li>Prevent and detect fraud and abuse on our website</li>
                        <li>Process orders</li>
                        <li>Process payments and communicate with you about your orders, products, services and promotional offers</li>
                        <li>Deliver products and services</li>
                        <li>Propose a unique and targeted navigation experience</li>
                        <li>Keep and update our database and your accounts with us</li>
                    </ul>
                    <p>By completing an order or signing up, you agree to receive;</p>
                    <ul>
                        <li>Emails associated with finalizing your order</li>
                        <li>Emails asking you to review us and your purchase</li>
                        <li>Promotional emails, SMS and push notifications from us</li>
                    </ul>

                    <p>You may unsubscribe from promotional emails via a link provided in each email. If you would like us to remove your personal information from our database, unsubscribe from emails and/or SMS, please email Customer Service</p>

                    <h3 class="title is-4">We use cookies</h3>
                        <p>Cookies are unique identifiers that we transfer to your device to enable our systems recognize your device and to provide features to make your navigation experience unique and targeted.

                        The acceptance of cookies is not a requirement for visiting the Site. However we would like to point out that the use of the 'cart' functionality on the Site and ordering is only possible with the activation of cookies. Cookies are tiny text files which identify your computer to our server as a unique user when you visit certain pages on the Site and they are stored by your Internet browser on your computer's hard drive.
                    </p>
                    <p>Cookies can be used to recognize your Internet Protocol address, saving you time while you are on, or want to enter, the Site. We only use cookies for your convenience in using the Site (for example to remember who you are when you want to amend your shopping cart without having to re-enter your email address) and not for obtaining or using any other information about you (for example targeted advertising). Your browser can be set to not accept cookies, but this would restrict your use of the Site. Please accept our assurance that our use of cookies does not contain any personal or private details and are free from viruses.
                    </p>

                    <h3 class="title is-4">Is my information secured?</h3>
                    <p>
                        Yes it is but its also important for you to protect against unauthorized access to your password and to your computer. Be sure to sign off when finished using a shared computer. We work to protect the security of your information during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
