{% extends '../app_base.html' %}

{% block content %}

<div class="hero is-medium page">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <h1 class="title is-2">Shipping</h1>
                    <p>
                        To enhance your shopping and delivery experience, we have choosen <a href="https://www.ace.ng/">ACE Logistics</a> as our primary delivery partner, this ensures that your product gets to you on time and in impeccable condition.
                    </p>
                    <hr>
                    <h4 class="title is-5">Delivery within Lagos</h4>
                    <p>
                        Residents in Lagos will enjoy FREE shipping for items smaller than 500g and will only pay N50.00 for every extra 500g. Lagos residents will also enjoy same day delivery (depending on the time your order was made) and next day delivery.
                    </p>
                    <h4 class="title is-5">Delivery to other states in Nigeria</h4>
                    <p>
                        Shipping fees will vary depending on the location and size or weight of the item. However, you enjoy the benefit of 72hours fast delivery on all items.
                    </p>
                    <p>
                        Your shipping fee will be displayed to you on the checkout form when you provide your shipping address.
                    </p>
                    <p>
                        If you have any questions as regards our shipping method or cost, please send a mail to <a href="mailto:hello@thelifestylestore.com.ng">hello@thelifestylestore.com.ng</a> or call us on <a href="tel:09022422022">090 2242 2022</a>
                    </p>
                    <hr>
                    <h1 class="title is-1">Return Policy</h1>
                    <p>You may return any unopened item in its original condition, including original packaging and packing slip within 7 days of receipt and you will receive a full refund less shipping. You will be responsible for any fees incured while shipping the item back to us.</p>

                    <p>Shipping cost is non-refundable for undelivered, unclaimed or returned packages, unless we made an error. Please verify your shipping address before checking out</p>

                    <p>We require the following information to process your return. If this information is not included, we will be unable to process your return.</p>

                    <ul>
                        <li>Full name and address</li>
                        <li>Phone number</li>
                        <li>E-mail address</li>
                        <li>Original Order Confirmation Number</li>
                        <li>Your reason for returning the item</li>
                    </ul>

                    <p>All returns must be shipped back to thelifestylestore.com.ng using a trackable courier (UPS, FedEx, DHL or ACE Logistics).</a>

                    <p>Please allow up to 14 business days to process your return or exchange. </p>

                    <p>If your package is returned to thelifestylestore.com.ng marked as "refused", "unclaimed", or "undeliverable", and you would like to have it re-shipped, we will unfortunately need to charge N2,000.00 re-shipping fee.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
