{% extends '../app_base.html' %}

{% load humanize %}
{% block content %}

<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <!-- Market place summary -->
            <section id="dashboard-summary">
                <h1 class="title is-4">Dashboard</h1>
                <div class="columns">
                    <div class="column has-text-centered">
                        <div class="box">
                            <h2 class="title">{{ paid_orders.total|default:'0.00'|intcomma }}</h2>
                            <h4 class="title box-title">Paid Orders</h4>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <div class="box">
                            <h2 class="title">{{ pending_orders.total|intcomma }}</h2>
                            <h4 class="title box-title">Pending Orders</h4>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <div class="box">
                            <h2 class="title">{{ total_orders }}</h2>
                            <h4 class="title box-title">Total Orders</h4>
                        </div>
                    </div>
                </div>
            </section>
            <br><br>

            <div class="level is-mobile">
                <div class="level-left">
                    <div class="level-item">
                        <h4 class="title is-4">Recent Orders</h4>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="{% url 'microstore:orders' %}">View all</a>
                    </div>
                </div>
            </div>
            <section>
                {% if orders %}
                    {% include '../parts/order/order_table.html' with orders=orders %}
                {% else %}
                    <h4 class="title has-text-danger is-6">You don't have any orders</h4>
                {% endif %}
            </section>
            <hr>
            <a href="#" class="button is-danger" id="trigger-push-modal">Send Push Notification</a>
        </div>
    </div>
</div>
<div class="modal" id="push-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form action="{% url 'microstore:send_push_notification' %}" id="push-notification-form">
            {% csrf_token %}
            <div class="field">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="input">
            </div>
            <div class="field">
                <label for="title">Message</label>
                <textarea name="message" id="message" rows="3" class="textarea"></textarea>
            </div>
            <div class="field">
                <label for="url">Url</label>
                <input type="text" name="url" id="url" class="input">
            </div>
            <div class="field">
                <button type="submit" class="button is-fullwidth">Send Push Notification</button>
            </div>
        </form>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
{% endblock content %}
