{% extends '../app_base.html' %}

{% load humanize %}
{% block content %}

<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <!-- Market place summary -->
            <section id="dashboard-summary">
                <h1 class="title is-4">Dashboard</h1>
                <div class="columns">
                    <div class="column has-text-centered">
                        <div class="box">
                            <h2 class="title">{{ paid_orders.total|default:'0.00'|intcomma }}</h2>
                            <h4 class="title box-title">Paid Orders</h4>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <div class="box">
                            <h2 class="title">{{ pending_orders.total|intcomma }}</h2>
                            <h4 class="title box-title">Pending Orders</h4>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                        <div class="box">
                            <h2 class="title">{{ total_orders }}</h2>
                            <h4 class="title box-title">Total Orders</h4>
                        </div>
                    </div>
                </div>
            </section>
            <br><br>

            <div class="level is-mobile">
                <div class="level-left">
                    <div class="level-item">
                        <h4 class="title is-4">Recent Orders</h4>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="{% url 'microstore:orders' %}">View all</a>
                    </div>
                </div>
            </div>
            <section class="box">
                {% if orders %}
                    {% include '../parts/order/order_table.html' with orders=orders %}
                {% else %}
                    <h4 class="title has-text-danger is-6">You don't have any orders</h4>
                {% endif %}
            </section>
        </div>
    </div>
</div>

{% endblock content %}
