{% extends '../app_base.html' %}

{% block content %}
<div class="hero is-black">
    <div class="hero-body has-text-centered">
        <h1 class="title is-2 is-size-3-mobile is-marginless">Live . Love . Lifestyle</h1>
        <p>Experience quality at lower prices</p>
    </div>
</div>
<div class="hero">
    <div class="hero-body">
        <div class="container">
            <!-- <h1 class="title is-3 has-text-centered">Products</h1> -->
            {% for product in products %}
                {% include '../parts/products/product.html' with product=product %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
