{% load static %}



<div class="hero sub-footer">
    <div class="hero-body has-text-centered">
        <h4 class="title is-4 is-marginless">Connect with us</h4>
        <p>We always share amazing discounts on our social media pages</p>
        <ul class="social-links">
            <li><a href="https://instagram.com/thelifestylestoreng" target="_blank" rel="noopener" class="tooltip" data-tooltip="Follow us on Instagram">
                <img src="{% static 'images/instagram.svg' %}" alt="Follow us on Instagram">
            </a></li>
            <li><a href="https://twitter.com/thelifestyleng" target="_blank" rel="noopener" class="tooltip" data-tooltip="Follow us on Twitter">
                <img src="{% static 'images/twitter.svg' %}" alt="Follow us on Twitter">
            </a></li>
        </ul>
    </div>
</div>
<footer class="footer">

    <div class="container">
        <div class="columns propositions">
            <div class="column">
                <div class="wapper">
                    <img src="{% static 'images/proposition-img-0.svg' %}" alt="Fast shipping">
                    <span>Fast shipping</span>
                </div>
            </div>
            <div class="column">
                <div class="wapper">
                    <img src="{% static 'images/proposition-img-3.svg' %}" alt="Fast shipping">
                    <span>Certified Products</span>
                </div>
            </div>
            <div class="column">
                <div class="wapper">
                    <img src="{% static 'images/locked.svg' %}" alt="Fast shipping">
                    <span>Secured Checkout</span>
                </div>
            </div>
        </div>
    </div><br>
    <hr>
    <section id="footer-menu">
        <div class="container has-text-centered">
            <ul>
                <li><a href="{% url 'microstore:about_us' %}">About Us</a></li>
                <li><a href="{% url 'microstore:shipping_returns' %}">Shipping &amp; Returns</a></li>
                <li><a href="{% url 'microstore:privacy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'microstore:contact' %}">Contact Us</a></li>
            </ul>
        </div>
        <div class="has-text-centered footer-logo">
            <img src="{% static 'images/the-lifestyle-shop.logo-white.svg' %}" alt="The Lifestyle Store">
            <a href="https://paystack.com" target="_blank" rel="noopener">
                <img src="{% static 'images/paystack-cards-white.png' %}" alt="Paystack" style="width:140px; margin-left:10px; position:relative; top: 5px;">
            </a>
        </div>

        <div class="has-text-centered credits">
            The Lifestyle Store Nigeria - All Rights Reserved &copy; Copyright 2018
        </div>
    </section>

</footer>
