{% extends "../app_base.html" %}

{% load humanize currency %}
{% block content %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    {% include "../parts/notification/message.html" %}

                    {% if items %}
                        {% if items.count > 0 %}
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <h2 class="title level-item">
                                        <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                                        <span style="display: inline-block;margin-left:5px">My cart</span>
                                    </h2>
                                </div>
                                <div class="level-right">
                                    <a href="{% url 'microstore:all_products' %}" class="button is-white">
                                        <span>Continue shopping</span>
                                        <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                                    </a>
                                </div>
                            </div>

                            <hr>
                            {% include '../parts/products/items.html' with items=items show_delete=True %}
                            <!-- <hr> -->
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <a href="{% url 'microstore:all_products' %}" class="button is-white">
                                        <span class="icon"><i class="fas fa-long-arrow-alt-left"></i></span>
                                        <span>Continue shopping</span>
                                    </a>
                                </div>
                                <div class="level-right">
                                    <a href="{% url 'microstore:checkout' %}" class="button is-primary is-medium is-fullwidth"><h4 class="title is-6" style="color:#fff">Checkout</h4></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="box is-danger has-text-centered">
                                <h3 class="title is-4">Your shopping basket is empty</h3>
                                <p>
                                    <a href="{% url 'microstore:all_products' %}" class="button is-primary">Start shopping</a>
                                </p>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="box is-danger has-text-centered">
                            <h3 class="title is-4">Your shopping basket is empty</h3>
                            <p>
                                <a href="{% url 'microstore:all_products' %}" class="button is-primary">Start shopping</a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
