{% extends "../app_base.html" %}

{% block content %}
{% load humanize currency %}
<form action="{% url 'microstore:checkout' %}" method="post" novalidate id="checkout-form">
{% csrf_token %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            {% if form.errors %}
                <div class="notification is-danger">
                    There are some errors in your form. Please correct them and proceed
                </div>
            {% endif %}
            <div class="columns">
                <div class="column">
                    {{ form.non_field_errors }}
                    <div class="field">
                        <h2 class="title">Checkout</h2>
                        <h4 class="title is-6">Contact details</h4>
                    </div>
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <span class="help is-danger">{{ form.first_name.errors }}</span>
                            {% endif %}
                        </div>
                        <div class="control is-expanded">
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <span class="help is-danger">{{ form.last_name.errors }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="field">
                        {{ form.email }}
                        <input type="text" name="url" class="required">
                        {% if form.email.errors %}
                            <span class="help is-danger">{{ form.email.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="field">
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            <span class="help is-danger">{{ form.phone.errors }}</span>
                        {% endif %}
                    </div>
                    <hr>
                    <!-- Shipping Address -->
                    <div class="field">
                        <h4 class="title is-6">Ship to: (We only ship within Nigeria)</h4>
                    </div>
                    <div class="field">
                        {{ form.street }}
                        {% if form.street.errors %}
                            <span class="help is-danger">{{ form.street.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="field is-grouped">
                        <div class="control is-expanded">
                            {{ form.city }}
                            {% if form.city.errors %}
                                <span class="help is-danger">{{ form.city.errors }}</span>
                            {% endif %}
                        </div>
                        <div class="control is-expanded">
                            <div class="select is-fullwidth">
                                {{ form.state }}
                            </div>
                            {% if form.state.errors %}
                                <span class="help is-danger">{{ form.state.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Gift check  -->
                    <div class="field">
                        <label>
                            {{ form.is_gift }} {{ form.is_gift.label }}
                        </label>
                    </div>
                    <hr>
                    <!-- Additional Notes -->
                    <div class="field">
                        {{ form.additional_notes }}
                    </div>
                </div>
                <div class="column">
                    <div class="">
                        <h2 class="title">My Cart</h2>
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            {% for item in cart %}
                                <tr  v-align="middle">
                                    <td>
                                        <h4 class="title is-6 is-marginless">{{ item.product.title }}</h4>
                                        <div class="regular_price is-marginless">
                                            <del>{{ item.product.regular_price|intcomma|currency }}</del> <span class="save"> Save {{ item.product.regular_price|savings:item.product.sale_price|intcomma|currency }}</span>
                                        </div>
                                        <h4 class="title is-6 sale_price">{{ item.product.sale_price|intcomma|currency }}</h4>
                                    </td>
                                    <td>{{ item.quantity }}</td>
                                    <td class="has-text-right has-text-weight-bold cost" data-cost="{{ item.product.sale_price }}" data-qty="{{ item.quantity }}">{{ item.product.sale_price|total_cost:item.quantity|intcomma|currency }}</td>
                                </tr>
                            {% endfor %}
                            <tr v-align="middle">
                                <td class="has-text-right has-text-weight-bold no-border">
                                    <h4 class="title is-6">Sub total</h4></td>
                                <td class="has-text-right has-text-weight-bold no-border" colspan="2">{{ total|intcomma|currency }}</td>
                            </tr>
                            <tr v-align="middle">
                                <td class="has-text-right has-text-weight-bold no-border">
                                    <h4 class="title is-6">Shipping</h4></td>
                                <td class="has-text-right has-text-weight-bold no-border" id="shipping_cost" colspan="2">0.00</td>
                            </tr>
                            <tr>
                                <td class="has-text-right has-text-weight-bold no-border">
                                    <h4 class="title is-6">Total</h4></td>
                                <td class="has-text-right has-text-weight-bold no-border" id="total" colspan="2">{{ total|intcomma|currency }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button type="submit" name="submit" id="submit" class="button is-primary is-fullwidth is-medium">Buy now</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}
