{% extends "../app_base.html" %}

{% load static %}
{% block content %}

    {% if sliders %}
    <div id="slider">
        {% for slider in sliders %}
        <div style="background: url({{ slider.image.url }}) no-repeat top left; background-size: cover;">
            <img src="{{ slider.image.url }}" alt="" class="slider-image">
            <div class="info">
                <h3 class="title is-2">{{ slider.title }}</h3>
                <p>{{ slider.description }}</p>
                <p>
                    <a href="{% url 'microstore:product' id=slider.product.id slug=slider.product.slug %}" class="button is-primary is-large cta"><img src="{% static 'images/shopping-basket-solid-white.svg' %}" alt="Shopping Basket">Buy now</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="hero">
        <div class="hero-body">
            <div class="container">

                <div class="level is-mobile">
                    <div class="level-left">
                        <div class="level-item">
                            <h2 class="title is-4 is-size-5-mobile has-text-centered">Featured products</h2>
                        </div>
                    </div>
                    <div class="level-left">
                        <div class="level-item">
                            <a href="{% url 'microstore:all_products' %}" class="button is-white">
                                <span>All products</span>
                                <span class="icon"><i class="fas fa-long-arrow-alt-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <hr> -->
                {% include "../parts/notification/message.html" %}
                {% include '../parts/products/products.html' with products=products %}
            </div>
        </div>
    </div>


    {% if brands %}
    <hr>
    <div class="hero">
        <div class="hero-body">
            <div class="container">
                <h2 class="title is-4 is-size-5-mobile has-text-centered">Top Brands</h2>
                <div class="columns is-centered is-mobile">
                    {% for brand in brands %}
                        <div class="column is-3">
                            <figure class="image">
                                <img src="{{ brand.image.url }}" alt="{{ brand.name }}">
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock content %}
