{% extends "../app_base.html" %}

{% block content %}
{% load humanize static currency %}
<form action="{% url 'microstore:paystack' order=order.uuid %}" method="post" novalidate>
{% csrf_token %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="has-text-centered">
                        <h2 class="title is-3">Thank you {{ order.user.first_name }} for shopping with us</h2>
                        <p>Just one more step!</p>
                    </div>
                    <hr>
                    {% if order.cart %}
                        <div>
                            <div class="columns is-mobile">
                                <div class="column">
                                    <p class="header-title is-marginless">Ship to</p>
                                    <h4 class="title is-5 is-marginless">{{ order.fullname }}</h4>
                                    <p class="is-marginless">{{ order.address }}</p>
                                    <p>{{ order.phone }}</p>
                                </div>
                                <div class="column has-text-right">
                                    <h4 class="title is-5">Order No: {{ order.id }}</h4>
                                </div>
                            </div>
                            <hr>
                            {% include '../parts/products/items.html' with items=items %}
                            <hr>
                            <table class="table is-fullwidth is-borderless-table is-payment-table">
                                <tr v-align="middle">
                                    <td class="has-text-right has-text-weight-bold no-border">
                                        <h4 class="title is-6">Sub Total</h4></td>
                                    <td class="has-text-right has-text-weight-bold no-border">
                                        <h4 class="title is-6">{{ total|intcomma|currency }}</td>
                                    </td>
                                </tr>
                                <tr class="has-text-weight-bold">
                                    <td class="has-text-right">
                                        <h4 class="title is-6">Shipping</h4>
                                    </td>
                                    <td class="has-text-right">
                                        <h4 class="title is-6">{{ shipping_cost|intcomma|currency }}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="has-text-right">
                                        <h4 class="title is-4">Total</h4>
                                    </td>
                                    <td class="has-text-right">
                                        <h4 class="title is-4">{{ total|intcomma|currency }}</h4>
                                    </td>
                                </tr>
                                <tr><td colspan="2"></td></tr>
                                <tr style="border-top: 3px solid #eee;">
                                    <td></td>
                                    <td style="padding-top:1em;">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order.uuid }}">
                                        <button type="submit" class="button is-medium is-primary is-fullwidth"><span>Pay now</span></button>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- Paystack logos -->
                        <div class="paystack has-text-centered" style="margin-top:4em;">
                            <a href="https://paystack.com" target="_blank" rel="noopen">
                                <img src="{% static 'images/paystack-cards.png' %}" alt="Secured by Paystack">
                            </a>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}
