{% extends "../app_base.html" %}

{% block content %}
{% load humanize static currency %}
<form action="{% url 'microstore:paystack' order=order.uuid %}" method="post" novalidate>
{% csrf_token %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="has-text-centered">
                        <h2 class="title is-3">Thank you {{ order.user.first_name }} for your order</h2>
                        <p>Please click pay now to make payment</p>
                    </div>
                    <hr>
                    {% if order.cart %}
                        <div class="box">
                            <div class="columns">
                                <div class="column">
                                    <p class="text-is-uppercase is-size-7">Ship to</p>
                                    <h4 class="title is-5 is-marginless">{{ order.fullname }}</h4>
                                    <p>{{ order.address }}</p>
                                    <p>{{ order.phone }}</p>
                                </div>
                                <div class="column has-text-right">
                                    <h4 class="title is-5">Order No: {{ order.id }}</h4>
                                </div>
                            </div>
                            <table class="table is-fullwidth is-borderless-table">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th class="has-text-right">Qty</th>
                                        <th class="has-text-right">Cost</th>
                                    </tr>
                                </thead>
                                {% for item in items %}
                                    <tr>
                                        <td>
                                            {{ item.product.title }}
                                        </td>
                                        <td class="has-text-right">
                                            {{ item.quantity }}
                                        </td>
                                        <td class="has-text-right">
                                            <div>{{ item.product.sale_price|intcomma|currency }}</div>
                                            <span class="help">
                                                <del>{{ item.product.regular_price|intcomma|currency }}</del>
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <!-- Display total and buy now button -->
                                <tr>
                                    <td colspan="2" class="has-text-right">
                                        <h4 class="title is-5">Total:</h4>
                                    </td>
                                    <td class="has-text-right">
                                        <h4 class="title is-5">{{ total|intcomma|currency }}</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_id" value="{{ order.uuid }}">
                                        <button type="submit" class="button is-medium is-danger is-fullwidth">Pay now {{ total|intcomma|currency }}</button>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <!-- Paystack logos -->
                        <div class="paystack has-text-centered">
                            <a href="https://paystack.com" target="_blank" rel="noopen">
                                <img src="{% static 'images/paystack-cards.png' %}" alt="Secured by Paystack">
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}
